<section data-ng-controller="HomeController" class="home">
	<div class="jumbotron">
	  <div class="container text-center">
	    <h1><img src="/icons/logo.png" title="OKO" alt="OKO" class="logoimage"> OKO</h1>
	    <p>Parser for ARSO XML data.</p>
	    <a class="btn btn-success" href="https://github.com/belakm/oko">Github repo</a>
	  </div>
	</div>
</section>
<div class="row">
	<div class="well">
    	<h2>Built with:</h2>
    	<ul class="list-group builtwith">
  			<li class="list-group-item"><a href="http://meanjs.org/">MEAN.js</a>, Open-Source Full-Stack Solution For MEAN Applications</li>
  			<li class="list-group-item"><a href="http://krispo.github.io/angular-nvd3/">Angular-nvD3</a>, An AngularJS directive for NVD3 re-usable charting library (based on D3).</li>
  			<li class="list-group-item"><a href="ngMap.github.io">Angularjs-Google-Maps</a>, a GoogleMap AngularJS Directive.</li>
    	</ul>
    </div>
</div>

<div class="container" data-ng-controller="StationsController" data-ng-init="findR()">
	<div class="page-header row">
		<h2>Example
		<div class="pull-right">
			<p class="hint">Try pressing this a few times --></p><div class="btn btn-warning" data-ng-click="findR()">Get another example</div>
		</div></h2>
	</div>
	<div class="well">
		<div class="pull-right" data-ng-show="authentication.user">
			<a class="btn btn-primary" href="/#!/stations/{{station._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
			<a class="btn btn-primary" data-ng-click="remove();">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
		</div>
		<div class="row" style="margin-bottom: 20px">
			<div class="col-md-12">
				<h2>
					{{station.name}}
					<small>Datasets: <span data-ng-bind="station.info.length"></span></small>
				</h2>
			</div>
		</div>
		<div class="row">
			<div class="row">
				<div class="col-md-6">
					<figure class="col-md-12" ng-hide="{{posexists}}">
						<map center="{{mapPosition1}}" zoom="10" style="height: 390px; margin-bottom: 30px;">
							<marker position="{{mapPosition1}}" title="{{station.name}}"></marker>
						</map>
						<figcaption class="text-center">
							Map location of {{station.name}} station.
						</figcaption>
					</figure>
					<div class="col-md-12" data-ng-hide="{{!posesists}}" style="height: 390px;">
						<p style="line-height: 390px; font-size: 20px;"><i class="glyphicon glyphicon-exclamation-sign" style="margin-right:10px;"></i>There is no locational data for this station.</p>
					</div>
				</div>
				<div class="col-md-6">
					<h2 style="margin-top: 0;">Latest data</h2>
					<ul class="list-group properties">
		                <li data-ng-repeat="(key, value) in station.info[station.info.length -1]" class="col-sm-6 list-group-item" data-ng-if="key != '_id'"><span>{{translateKey(key)}}</span>:<br/><strong class="pull-right" data-ng-bind="translateValue(key, value)"></strong></li>
		            </ul>
	            </div>
			</div>
			<div class="row" style="margin: 40px 0 20px;">
				<figure class="">
					<div class="position: relative;">
						<nvd3 options="getOptions(true)" data="getData(station)"></nvd3>
					</div>
					<figcaption class="text-center">
						{{infoBay.reka}} water level, flow and temperature.
					</figcaption>
				</figure>
			</div>
			<div class="container">
				<h2>Raw</h2>
				<div class="well" style="max-height: 450px; overflow-y: scroll;">
					<div class="well well-sm">
						<p><strong>objects: {{station.info.length}}</strong></p>
					</div>
					<p>{{ station }}</p>
				</div>
			</div>
		</div>
    </div>
</div>