<section data-ng-controller="HomeController">
	<div class="jumbotron">
	  <div class="container">
	    <h1>OKO</h1>
	    <p>...</p>
	  </div>
	</div>
</section>
<style type="text/css">
	
</style>
<section ng-app="myapp" data-ng-controller="StationsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Stations</h1>
    </div>
    <div class="list-group">
        <div data-ng-repeat="station in stations" class="list-group-item col-sm-6">
			<small class="list-group-item-text station-datum">
				Posted on
				<span data-ng-bind="station.created | date:'medium'"></span>
				by
				<span data-ng-bind="station.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading">{{station.info[0].reka}}</h4>
			<h3 class="list-group-item-heading" data-ng-bind="station.name" data-ng-click="getData(station)"></h3>
			<div class="row">
				<div class="col-sm-12">
					<p>Datasets: <span data-ng-bind="station.info.length"></span></p>
					<p>Latest update: <span data-ng-bind="station.info[station.info.length -1].datum"></span></p>
				</div>
				<div class="col-sm-12">
					<ul class="list-group" data-ng-repeat="(key, value) in station.info[station.info.length -1]">
						<li class="col-sm-6 list-group-item" data-ng-hide="{{key == '_id'}}"><strong>{{key}}</strong>: <span data-ng-bind="value"></span></li>
					</ul>
					<!--<map center="{{station.info[0].ge_sirina}}, {{station.info[0].ge_dolzina}}" zoom="8">
						<marker position="{{station.info[0].ge_sirina}}, {{station.info[0].ge_dolzina}}" title="{{station.name}}"></marker>
					</map><div data-ng-controller="myCtrl">
					    
					</div>
					<figure>
						<nvd3 options="getOptions(false)" data="getData(station)" id="{{station._id}}"></nvd3>
						<figcaption class="text-center">
							{{station.info[0].reka}} water level, flow and temperature.
						</figcaption>
					</figure>-->

				</div>
				<div class="col-sm-6 col-sm-offset-3" style="margin-top: 20px;">
					<a class="btn btn-success btn-block" href="#!/stations/{{station._id}}">More station specific info</a>
				</div>
			</div>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!stations.$resolved || stations.length">
    	No Stations yet, why don't you <a href="/#!/stations/create">create one</a>?
    </div>
</section>