.content {
	margin-top: 50px;
}

.logoimage{
	width: 200px;
	margin-top: -20px;
}
.home h1{
	font-size: 168px;
	line-height: 168px;
}
.builtwith li{
	font-weight: 300;
	font-size: 16px;
}
.builtwith li a{
	font-weight: 700; 
}
.navbar-brand{
	width: auto !important;
}
.navbar-brand>img{
	height: 100%;
	float: left;
}
.navbar-brand>span{
	display: inline;
	margin-left: 5px;
}