<section data-ng-controller="StationsController" data-ng-init="findOne()">
	<div class="container">
		<div class="page-header">
			<h1>
				{{station.name}}
				<small>Datasets: <span data-ng-bind="station.info.length"></span></small>
			</h1>
			<div data-ng-if="!isReady" class="alert alert-info" role="alert">Loading data <img src="/icons/loader.gif" title="Loading" alt="Loading" class="loader-img"></div>
		</div>
		<div class="pull-right" data-ng-show="authentication.user">
			<a class="btn btn-primary" href="/#!/stations/{{station._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
			<a class="btn btn-primary" data-ng-click="remove();">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<figure class="col-md-12" ng-hide="{{posexists}}">
					<map center="{{mapPosition1}}" zoom="10" style="height: 390px; margin-bottom: 30px;">
						<marker position="{{mapPosition1}}" title="{{station.name}}"></marker>
					</map>
					<figcaption class="text-center">
						Map location of {{station.name}} station.
					</figcaption>
				</figure>
				<div class="col-md-12" data-ng-hide="{{!posesists}}" style="height: 390px;">
					<p style="line-height: 390px; font-size: 20px;"><i class="glyphicon glyphicon-exclamation-sign" style="margin-right:10px;"></i>There is no locational data for this station.</p>
				</div>
			</div>
			<div class="col-md-6">
				<h2 style="margin-top: 0;">Latest data</h2>
				<ul class="list-group properties">
	                <li data-ng-repeat="(key, value) in station.info[station.info.length -1]" class="col-sm-6 list-group-item" data-ng-if="key != '_id'"><span>{{translateKey(key)}}</span>:<br/><strong class="pull-right" data-ng-bind="translateValue(key, value)"></strong></li>
	            </ul>
            </div>
		</div>
		<div class="row" style="margin: 40px 0 20px;">
			<figure class="">
				<nvd3 options="getOptions(true)" data="getData(station)"></nvd3>
				<figcaption class="text-center">
					{{infoBay.reka}} water level, flow and temperature.
				</figcaption>
			</figure>
		</div>
		<div class="row">
			<h2>Raw</h2>
			<div class="well" style="max-height: 450px; overflow-y: scroll;">
				<div class="well well-sm">
					<p><strong>objects: {{station.info.length}}</strong></p>
				</div>
				<p>{{ station }}</p>
			</div>
		</div>
	</div>
</section>